<div class="constructorPage">
  <div class="content">
    <div class="dropoutMenu">
      <div class="cloak">ELEMENTS MENU</div>
      <div class="list">
        <ul>
          <li>
            <div class="dropdown">
              <button (click)="setShape('line')">pipe</button>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button>pipes corners</button>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button (click)="setShape('rectangle')">radiators</button>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button (click)="setShape('square')">boilers</button>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="center">
      <div class="manageMenu">
        <div class="elementButtons">
          <button class="rotateElement" (click)="rotateElement()">rotate element</button>
          <button class="rotateElement" (click)="deleteElement()">delete element</button>
        </div>
        <div class="projectButtons">
          <button class="clearButton" (click)="clearCanvas()" >clear canvas</button>
          <button class="saveButton" (click)="saveCanvas()" >save project</button>
        </div>
      </div>


      <div class="canvasArea">
        <h3>Project {{projectName}}</h3>

        <canvas
          #canvas
          width="{{canvasWidth}}"
          height="{{canvasHeight}}"
          (mousedown)="handleMouseDown($event)"
          (mousemove)="handleMouseMove($event)"
          (mouseup)="handleMouseUp($event)">
        </canvas>
      </div>
    </div>

    <span style="margin-top: 30px" *ngIf="selectedElement !=''">Selected Element: {{selectedElement}}</span>
  </div>
  <app-footer></app-footer>
</div>
