body
  width: 100%
  display: flex
  flex-direction: column

.content
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  height: 95vh
  -webkit-box-shadow: 0px -7px 18px 2px rgba(34, 60, 80, 0.1)
  -moz-box-shadow: 0px -7px 18px 2px rgba(34, 60, 80, 0.1)
  box-shadow: 0px -7px 18px 2px rgba(34, 60, 80, 0.1)
  .dropoutMenu
    position: absolute
    top: 0
    .cloak
      position: absolute
      width: 100%
      background-color: #fff
      border-top: 2px solid #A4A4A4
      height: 5vh
      display: flex
      justify-content: center
      cursor: default
      transition: 0.3s ease
    .list
      .dropdown
        overflow: hidden
      .dropdown .dropdownElems
        display: none
        position: absolute
        min-width: 200px
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
      .dropdown:hover .dropdownElems
        display: flex
        flex-direction: column
      .dropdown:hover .dropdownElems button
        cursor: pointer
        min-height: 30px
        border: none
        outline: none

  .dropoutMenu:hover
    .cloak
      transform: translateY(50px)
  .dropoutMenu ul
    display: flex
    width: max-content
    justify-content: space-around
    li
      margin: 0 30px 0 30px
      list-style-type: none
  canvas
    border: 1px solid black
