<div class="page">
  <div class="content" *ngIf="!isAuth">
    <form class="example-form">
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input type="text" matInput placeholder="User123" [(ngModel)]="login"  [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="text" matInput placeholder=""  [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
    </form>
    <app-button class="loginButton" (click)="auth()" ></app-button>
    <div class="errorMsg" *ngIf="isError" style="margin-top:40px">Login or password was incorrect</div>
  </div>
  <div class="authMsg" *ngIf="isAuth"  >
    You've logged successfully
  </div>
    <app-footer style="transition: 0.3s ease" *ngIf="isAuth"></app-footer>
</div>
