<div class="saveAsPage">
  <div class="content">
    <h1>
      in your project:
      pipes:{{pipesCount}}
      radiators:{{radiatorCount}}
      boilers:{{boilerCount}}
    </h1>
    <div class="aza">
      <select id="select" [(ngModel)]="selectedPipe">
        <option *ngFor="let value of PipeTypes" >{{value.diameter}}</option>
      </select>

      <span>choose pipes diameter, default:20</span>

      <input type="number" [max]="pipesCount" placeholder="count of pipes of desired diameter" style="border: 1px solid black;margin: 0 5px;padding: 10px">
      <button (click)="countPipes()" >dasdasdasd</button>
    </div>

    calculated: {{calculated}}
    <!--    формула подсчета: количество труб определенного диаметра * цену пока не отсчитает все трубы, далее
     кол-во радиаторов * 3000-7000 + бойлер * 25000-30000 -->
  </div>
</div>
<app-footer></app-footer>
