<div class="saveAsPage">
  <div class="content">

    <div class="steps" >
      <div class="steps-one shown step" #stepsOne>
        <div class="step-one-header">
          <h3>STEP ONE</h3>
          <span>
            You have {{pipesCount}} pipe(s) in your project
          </span>
          <span>Select the number of pipes and their diameter, then click the confirmation button. If not selected, the diameter will be 20</span>
        </div>
        <div class="step-one-body">
          <select id="select" [(ngModel)]="selectedPipe">
            <option *ngFor="let value of PipeTypes" >{{value.diameter}}</option>
          </select>
          <input type="number" [min]="0" [max]="pipesCount" [(ngModel)]="pipesToCount" style="border: 1px solid black;margin: 0 5px;padding: 10px">
          <button (click)="countPipes(pipesToCount)">Confirm</button>
          <button class="continue" (click)="nextStep()" >
            Сontinue
          </button>
          <span>calculated amount: {{calculated}}</span>

        </div>
      </div>
      <div class="steps-two hidden step" #stepsTwo >
        <div class="step-two-header ">
          <h1>STEP TWO</h1>
        </div>
        <div class="step-two-body">
          You have {{radiatorCount}} radiator(s) in your project
          <button (click)="countRadiators()">Confirm</button>
          <button class="continue" (click)="nextStep()" >
            Continue
          </button>
          <span>calculated amount: {{calculated}}</span>

        </div>

      </div>
      <div class="steps-three hidden step" #stepsThree>
        <div class="step-three-header ">
          <h1>STEP THREE</h1>
        </div>
        <div class="step-two-body">
          You have {{boilerCount}} boiler(s) in your project

          <button (click)="countBoilers()">Count Boilers</button>
          <button class="continue" (click)="nextStep()" >
            continue
          </button>
          <span>calculated amount: {{calculated}}</span>

        </div>

      </div>


    </div>

    <!--    формула подсчета: количество труб определенного диаметра * цену пока не отсчитает все трубы, далее
     кол-во радиаторов * 3000-7000 + бойлер * 25000-30000 -->
  </div>
</div>
<app-footer></app-footer>
