<div class="saveAsPage">
  <div class="content" >
    <div class="contentCards" >
      <div class="projectCard" *ngFor="let project of data; index as i">
        <div class="cardHeader">
          <span> Project: <span class="projName">{{project.name}}</span></span>
          1F
          <p>Project Cost</p>
        </div>
        <div class="cardFooter">
          <button (click)="selectProject(i)">
            to Project
          </button>

          <button (click)="deleteProject(i)" >
            delete Project
          </button>

          <button routerLink="/calculate" (click)="calculateService.getProject(this.project.elements)" >
            calculate Project
          </button>
        </div>
      </div>
    </div>
    <div class="contentIfNoData"  style="display: flex" *ngIf="data.length<1">
      <div>
        There is no saved projects
      </div>
    </div>
<!--    формула подсчета: количество труб определенного диаметра * цену пока не отсчитает все трубы, далее
 кол-во радиаторов * 3000-7000 + бойлер * 25000-30000 -->
  </div>
</div>
<app-footer></app-footer>
