<div class="storagePage">
  <div class="content">
    <div class="storage">
      <div class="headers">
        <div class="storage-left">
          Product Name
        </div>
        <div class="storage-mid">
          Product Amount
        </div>
        <div class="storage-right">
          Product Cost
        </div>

      </div>
      <div *ngFor="let product of data;" class="storageElement" (click)="putToSelectedItems(product.id);">

        <div class="item" (click)="selectItem(product.id)" *ngIf="!product.isSelected">
          <div class="storageElement-left">
            {{product.name}}
          </div>
          <div class="storageElement-mid">
            {{product.amount}}
          </div>
          <div class="storageElement-right">
            {{product.cost}}
          </div>
        </div>

        <div class="selectedItem" (click)="selectItem(product.id)" *ngIf="product.isSelected">
          <div class="storageElement-left">
            {{product.name}}
          </div>
          <div class="storageElement-mid">
            {{product.amount}}
          </div>
          <div class="storageElement-right">
            {{product.cost}}
          </div>
        </div>
      </div>

      <div class="storageElement">
        <input type="text" class="storageElement-left storageInput" [(ngModel)]="productName" placeholder="Product Name">
        <input type="text" class="storageElement-mid storageInput" [(ngModel)]="productAmount" placeholder="Product Amount">
        <input type="text" class="storageElement-right storageInput" [(ngModel)]="productCost" placeholder="Product Cost">
      </div>

    </div>

    <div class="editElementInputs">
      <input type="text" class="editInput" [(ngModel)]="productNameforEdit" placeholder="Product Name">
      <input type="text" class="editInput" [(ngModel)]="productAmountforEdit" placeholder="Product Amount">
      <input type="text" class="editInput" [(ngModel)]="productCostforEdit" placeholder="Product Cost">
    </div>

    <div class="buttons">
      <button class="additem button" (click)="addElement()" >add</button>
      <button class="removeitem button" (click)="removeElement(selectedItems)">remove</button>
      <button class="edititem button" (click)="editItem()">edit</button>
      <div class="errorMessage" *ngIf="isError">
        <span style="display: flex;flex-direction: column;align-items: center">Editing two or more items is <p>forbidden</p> </span>
      </div>
    </div>


  </div>

  <app-footer></app-footer>

</div>
